.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

#deleteForm {
    display: inline;
}

#delform {
    display: inline;
}

#mHeight {
    height: 200px;
    padding: 5px;
}


#map {
    height: 400px;
    width: 100%;
}